OPENAI_API_KEY=your_openai_key

SECRET_KEY=django-insecure-7dm6dg!q%qr1pj+57759lj0-h=uex$#5ze^qp-n-v7ij2j4_vj
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost

# Enable Postgres
DB_NAME=chatbot_db
DB_USER=postgres
DB_PASSWORD=abc@12345
DB_HOST=chatdb
DB_PORT=5432
