SECRET_KEY=django-insecure-7dm6dg!q%qr1pj+57759lj0-h=uex$#5ze^qp-n-v7ij2j4_vj
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost

#OPENAI KEY
OPENAI_API_KEY=your_openai_key

#Database
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432
